:root {
    --color-fondo: #f9f9f9;
    --color-primario: #34495e;
    --color-secundario: #1abc9c;
    --color-texto: #2c3e50;
    --fuente-principal: 'Arial', sans-serif;
    --espaciado: 20px;
}

body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}

header {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: var(--espaciado);
}

nav {
    background-color: var(--color-secundario);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 var(--espaciado);
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--color-primario);
}

main {
    padding: var(--espaciado);
}

h1, h2 {
    color: var(--color-primario);
}

section {
    margin-bottom: var(--espaciado);
    padding: var(--espaciado);
    background-color: white;
    border: 1px solid var(--color-primario);
    border-radius: 8px;
}

footer {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: var(--espaciado);
    margin-top: var(--espaciado);
}